.essay-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.written-essay {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.essay-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.essay-sentence {
    margin-left: 0.3vw;
    margin-right: 0.3vw;
}

.word-suggestions-bar {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
   
}

.word-suggestion {
    margin-left: 2vw;
    margin-right: 2vw;
}

.word-suggestion:hover {
    background-color: lightgray;
}


.selected-word {
    background-color: aqua;
}

.selected-word-suggestion {
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: aqua;
}


.changeable-word {
    background-color: rgb(211, 211, 211);
}

.changeable-word:hover {
    background-color: lightslategray;
}

.reset-button {
    background-color: rgb(211, 211, 211);
    margin-top: 2vh;
}

.reset-button:hover {
    background-color: lightslategray;
    
}


