.posts {
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 0;
  margin: 4.375rem 15px 0 15px;
}

.profile-pic {
  float: left;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 32px;
}

.post-container {
  background-color: #fff2c3;
  border-radius: 0 25px 0 0;
  margin-top: 48px;
}

.post-header {
  margin-left: 5rem;
  font-size: min(5vw, 1.625rem);
  position: relative;
}

.post-subheader {
  margin-left: 5rem;
  color: #606060;
}

.post-body-text {
  margin: 20px 0;
}

.hidden-text {
  visibility: hidden;
}

.gray-text {
  color: #606060;
}
