.screen-container {
  width: 40%;
  min-width: 230px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1rem rgb(36, 36, 36) solid;
  border-radius: 2rem;
  background-color: rgb(255, 253, 174);
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.iphone-top {
  background-color: rgb(36, 36, 36);
  margin: 0 auto;
  width: 150px;
  height: 20px;
  border-radius: 0 0 15px 15px;
}

.iphone-screen {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 15px 0 15px;
}

.user-profile-pic {
  width: 100px;
  height: 100px;
  margin-top: 5px;
}

.histogram-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: min(5vw, 1.625rem);
}

.profile-header {
  font-weight: bold;
  font-size: min(5vw, 1.625rem);
  margin-top: 20px;
}

.default-button {
  padding: 0.4rem;
  font-size: min(4vw, 1.125rem);
  width: 5rem;
  background-color: #fff;
  margin: 0.5rem;
  font-family: "Mulish", sans-serif;
  border-radius: 10px;
}

.long-button {
  width: 11rem;
}

.male-button-active {
  background-color: #8bb6ff;
  color: black;
}

.female-button-active {
  background-color: #ffc0fe;
  color: black;
}

.white-button-active {
  background-color: #d7d7d7;
  border-color: black;
}

.black-button-active {
  background-color: #2c2c2c;
  color: #fff;
}

.hover-button:hover {
  background-color: #b4b9bb;
}

.ad-selection-bar {
  margin-left: 10px;
  margin-right: 20px;
  background-color: white;
  color: black;
  width: 100px;
  height: 600px;
  z-index: 3;
  border-radius: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.ad-thumbnail {
  width: 100px;
  height: 20px;
}

.ad-breakdown-container {
  width: 75vw;
  max-width: 800px;
}

.ad-histogram-container {
  position: relative;
  width: 100%;
  min-width: 350px;
  left: -10px;
}

.ad-image {
  width: min(20vw, 130px);
  height: 150px;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

p {
  font-size: 1rem;
}

.ad-apply-link {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #4267b2;
  padding: 0.3rem;
  border-radius: 10px;
  width: 50%;
  margin: 5px;
}

.ad-section-bar {
  border: 1px solid gray;
  border-radius: 20px;
  width: 100%;
  margin: 0.3rem 0;
}

.ad-specs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 0.3rem;
}

.ad-specs-title {
  margin-right: 0.3rem;
}

.ad-specs-detail {
  width: 110px;
  text-align: left;
}
