.profile-pic {
  float: left;
  width: 4.0625rem;
  height: 4.0625rem;
  margin-left: 15px;
  margin-top: 5px;
  border-radius: 32px;
}

.post-container {
  border-radius: 0 25px 0 0;
  margin-top: 48px;
}

.post-header {
  margin-left: 6.25rem;
  font-size: min(5.5vw, 1.875rem);
  position: relative;
  top: 5px;
  margin-bottom: 2px;
}

.post-subheader {
  margin-left: 6.125rem;
  color: #606060;
}

.post-body-text {
  margin: 20px;
}

.hidden-text {
  visibility: hidden;
}

.gray-text {
  color: #606060;
}

.text-italic {
  font-style: italic;
}
