.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #f0f0f0;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  min-height: 35rem;
  padding: 1.75rem;
}

.card-image {
  max-width: 300px;
  width: 16rem;
  align-self: center;
  margin: 10px 0;
  border-radius: 20px;
}

.card-button {
  border: none;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: #4267b2;
  margin: 5px 5px 0 5px;
  position: relative;
}

.card-button:focus {
  outline: none;
}

.card-arrow {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 20px solid white;
  position: relative;
  left: 11px;
  top: 1px;
  transform: rotate(-90deg);
}

.back {
  transform: rotate(90deg);
  left: 5px;
}

.fade-enter {
  opacity: 0;
}

.fade-exit {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}

.gray {
  background-color: gray;
}
