.essay-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.written-essay {
  margin: 2vh 0;
}

.essay-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.essay-sentence {
  margin: 0 0.2vw;
}

.word-suggestions-bar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.essay-lower-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.word-suggestion {
  margin: 0 2vw;
  background-color: lightgray;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.word-suggestion:hover {
  background-color: rgb(209, 237, 237);
  border-radius: 5px;
}

.selected-word {
  background-color: rgb(124, 255, 255);
  border-radius: 5px;
}

.selected-word-suggestion {
  margin: 0 2vw;
  background-color: rgb(124, 255, 255);
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.changeable-word {
  background-color: rgb(211, 211, 211);
  border-radius: 5px;
}

.changeable-word:hover {
  background-color: rgb(209, 237, 237);
  border-radius: 5px;
}

.reset-button {
  background-color: rgb(211, 211, 211);
  margin-top: 2vh;
  margin-bottom: 1vh;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.reset-button:hover {
  background-color: lightslategray;
}
