.essay-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.written-essay {
  margin: 2vh 0;
}

.essay-section {
  margin-left: 5%;
  margin-right: 5%;
}

.essay-sentence {
  margin: 0 0.2vw;
}

.word-suggestions-bar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.essay-lower-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.word-suggestion {
  margin: 0 2vw;
}

.word-suggestion:hover {
  background-color: lightgray;
}

.selected-word {
  background-color: aqua;
}

.selected-word-suggestion {
  margin: 0 2vw;
  background-color: aqua;
}

.changeable-word {
  background-color: rgb(211, 211, 211);
}

.changeable-word:hover {
  background-color: lightslategray;
}

.reset-button {
  background-color: rgb(211, 211, 211);
  margin-top: 2vh;
}

.reset-button:hover {
  background-color: lightslategray;
}
