.screen-container {
    width: 40%;
    min-width: 230px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 2rem rgb(36, 36, 36) solid;
    border-bottom-width: 4rem;
    border-radius: 2rem;
    background-color: rgb(255, 247, 223);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.user-profile-pic {
    width: 150px;
    height: 150px;
    margin-left: 15px;
    margin-top: 5px;
}



.histogram-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: min(6vw, 1.8rem);
}

.profile-header {
  font-weight: bold;
  font-size: min(6vw, 2.5rem);
  margin: 5px 0;
}

.default-button {
    padding: 0.4rem;
    font-size: min(5vw, 1.5rem);
    background-color: #eef0f1;
    margin: 0.5rem;
    font-family: "Mulish", sans-serif;
    border-radius: 10px;
  }



  .male-button-active {
    background-color: #3381ff;
    color: #eef0f1;
  }
 
   .female-button-active {
    background-color: #ff8cfb;
    color: black;
  }
 
   .white-button-active {
    background-color: #ffffff;
    border-color: black;
  }
 
   .black-button-active {
    background-color: #000000;
    color: #ffffff;
  }

.hover-button:hover {
    background-color: #b4b9bb;
}

.ad-selection-bar {
  margin-left: 10px;
  margin-right: 20px;
  background-color: white;
  color: black;
  width: 100px;
  height: 600px;
  z-index: 3;
  border-radius: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px 0;
}



.ad-thumbnail {
  width: 100px;
  height: 20px;
}

.ad-breakdown-container {
  width: 75vw;
  max-width: 800px;
}

.ad-histogram-container {
  position: relative;
  width: 100%;
  min-width: 350px;
  left: -10px;
}

#shown-ad {
  height: 600px;
  display: flex;
  align-items: center;
  padding: 10px;
}