.game-area {
  background-size: cover;
  background-image: url('../background.svg');
  border-radius: 5px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

.catcher {
  background-color: lightgreen;
  border-radius: 7px;
  position: relative;
  top: 95%;
}

.falling-obj {
  width: 40px;
  height: auto;
  position: relative;
}
