.comments-container {
  border-radius: 0 0 1.25rem 1.25rem;
  padding-top: 5px;
  position: relative;
  top: -1rem;
}

.comment-bubble {
  background-color: #eef0f1;
  border-radius: 25px;
  width: 815px;
  padding: 15px 30px;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.divider {
  margin-bottom: 30px;
  border: none;
  height: 1px;
  background-color: #CCCCCC;
}

.comment-profile-pic {
  width: 65px;
  height: 65px;
  border-radius: 2rem;
  margin: 0 10px 0 0;
}

.single-comment-container {
  display: flex;
  flex-direction: row;
}

.answer {
  margin-left: 104px;
}