.content-container {
  background-color: white;
  width: 1110px;
  padding: 25px 25px 10px 25px;
  border-radius: 20px;
}

.forward-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  z-index: 4;
}

.body-text {
  font-size: 1.5rem;
}

.forward-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #4267b2;
  border-width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forward-button:active {
  transform: translateY(5px);
}

.text-bold {
  font-weight: bold;
}

.hidden-button {
  display: none;
}

.progress-button {
  background: white;
  border-radius: 32px;
  border: none;
  padding: 0;
  width: 65px;
  height: 65px;
}
.progress-button:focus {
  outline: none;
}
.no-margin {
  margin: 0;
}
.static-size {
  width: 65px;
  height: 65px;
}
.gray {
  opacity: 0.5;
  filter: alpha(opacity=40);
  filter: grayscale(1);
}

/* for the triangle inside ForwardButton, since the triangle is blue by default due to the Navbar button */
.white {
  border-top: 22px solid #eef0f1;
  left: 0px;
  top: 2px;
}

