.content-container {
  background-color: white;
  max-width: 1000px;
  padding: 1.25rem;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 1.25rem;
}

.direction-container {
  position: fixed;
  margin-top: 13.5rem;
  right: 2.4rem;
  background-color: #ffffff;
  width: 9.4%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  border-radius: 60px;
  max-width: 8.438rem;
  max-height: 30rem;
  z-index: 4;
}

.forward-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  z-index: 4;
}

.button-image {
  z-index: 3;
  height: 80%;
}

.forward-image {
  transform: rotate(180deg);
}
.body-text {
  font-size: 1.5rem;
  line-height: 1.875rem;
}

.nav-button {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #4267b2;
  border-width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backward-button:active {
  transform: translateY(-5px);
}

.forward-button:active {
  transform: translateY(5px);
}

.text-bold {
  font-weight: bold;
}

.hidden-button {
  display: none;
}

.progress-button {
  background: white;
  border-radius: 2rem;
  border: none;
  padding: 0;
  width: 65px;
  height: 65px;
}
.progress-button:focus {
  outline: none;
}
.no-margin {
  margin: 0;
}